<div class="tr-breadcrumb bg-image section-before">
	<div class="container">
		<div class="breadcrumb-info text-center">
			<div class="page-title">
				<h1>Post/Edit Your Wiki</h1>
			</div>
			<ol class="breadcrumb">
				<li><a href="#!/">Home</a></li>
				<li class="active">Wiki Post/Edit</li>
			</ol>
		</div>
	</div>
</div>

<form name="postForm"> 
  <div class="tr-post-job page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
      
          <div class="section">
            <span class="tr-title">Wiki Info</span>
            <div class="row">
              <div class="col-sm-3">
                <label>Title</label>
              </div>
              <div class="col-sm-9">
                <div style="color:red" ng-show="postForm.title.$error.required" > <b>Required</b></div>
                <input type="text" ng-model="title" name="title" ng-required="true" ng-maxlength="30" maxlength="30" class="form-control"/>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <label>Category</label>
              </div>
              <div class="col-sm-9">
                <select class="form-control" ng-model="category" name="category" >
                  <option value="" selected>Select a category</option>
                  <option value="technology" selected>technology</option>
                  <option value="history" selected>history</option>
                  <option value="art" selected>art</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <label>Author</label>
              </div>
              <div class="col-sm-9">
                <input type="text" ng-model="author" ng-disabled="true" disabled="disabled" name="author" maxlength="25" class="form-control"/>
              </div>
              
            </div>


            <div class="row">
              <div class="col-sm-3">
                <label>URL Name</label>
              </div>
              <div class="col-sm-9">
                <div style="color:red" ng-show="postForm.urlName.$error.required" >
                  <b>Required</b></div>
                  <div style="color:red" ng-show="postForm.urlName.$error.pattern" >
                  <b>Allowed characters are: a-z, A-Z, 0-9, - and _</b></div>
                <input type="text" ng-disabled="!newPost" name="urlName" ng-required="true" ng-maxlength="30" ng-pattern="/^[a-zA-Z0-9-_]+$/" ng-model="urlName" maxlength="30" class="form-control"/>
              </div>
            </div>

            <!--<div class="row" ng-show="urlName"> -->
            <div class="row" ng-show="!newPost">
              <div class="col-sm-3">
                <label>Final URL</label>
              </div>
              <div class="col-sm-9">
               https://cs157-pubwiki-final-project-auth.weinstrc4447.repl.co/#!/{{urlName}}
              </div>
            </div>
          </div>        

          <div class="section">
            <span class="tr-title">Wiki Content</span>
            <div id="editor"></div>
          </div>

          <div class="section agreement">  
            <div class="mb-5">
              <input type="checkbox" required="true" name="checkbox" ng-required="true" ng-model="checkbox" />
              You agree to our <a href="#" target="_blank">Terms of Use</a> and <a href="#" target="_blank">Privacy Policy</a> and acknowledge that you
              are the rightful owner of this content.
            </div>

            <div class="buttons">
              <button type="button" class="btn btn-primary" ng-disabled="postForm.$invalid" ng-click="saveWiki()">Save Wiki</button>
              <a href="#!/" class="btn button-cancle">Cancel</a>
              <button type="button" class="btn btn-danger  pull-right" ng-click="deleteWiki()" ng-disabled="postForm.$invalid" ng-hide="newPost">Delete Wiki</button>
              <div style="color:red; margin: 5px;" ng-show="postErrorMsg" ><b>{{postErrorMsg}}</b></div>
   
            </div>
          </div>

          <div class="section" ng-show="!newPost" >
            <span class="tr-title">Live Site</span>
            <h3><a href="/#!/{{urlName}}">https://cs157-pubwiki-final-project-auth.weinstrc4447.repl.co/#!/{{urlName}}</a>
            </h3>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>