<div class="tr-breadcrumb bg-image section-before">
  <div class="container">
    <div class="breadcrumb-info text-center">
      <div class="page-title">
        <h1>Create a New Account</h1>
      </div>
    </div>
  </div>
</div>

<div class="tr-account section-padding">
  <div class="container text-center">
    <div class="user-account">
        <div class="account-content">
          <form class="tr-form" name="regForm">
            <div class="form-group">
              <div style="color:red" ng-show="regForm.fullName.$error.required" >
              <b>Required</b></div>
              <input type="text" class="form-control" placeholder="Full Name" ng-model="fullName" name="fullName" ng-required="true" ng-maxlength="35">
            </div>
            <div class="form-group">
              <div style="color:red" ng-show="regForm.username.$error.required" >
              <b>Required</b></div>
              <input type="text" class="form-control" placeholder="Username" name="username" ng-model="username" ng-maxlength="30" ng-required="true">
            </div>
            <div class="form-group">
              <div style="color:red" ng-show="regForm.email.$error.required" >
              <b>Required</b></div>
              <input type="email" class="form-control" placeholder="your Email" name="email" ng-model="email" ng-required="true">
            </div>
            <div class="form-group">
              <div style="color:red" ng-show="regForm.password.$error.required" >
              <b>Required</b></div>
              <input type="password" class="form-control" placeholder="Password" name="password" ng-model="password" ng-required="true" ng-maxlength="100">
            </div>
            <div class="form-group">
              <div style="color:red" ng-show="regForm.confirmPassword.$invalid" >
              <b>Passwords must match</b></div>
              <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" ng-required="true" >
              <!-- equal="{{password}}" -->
            </div>
            <button type="button" class="btn btn-primary" ng-click="Register()" ng-disabled="regForm.$invalid">Sign Up</button>
            <!-- <div>form valid: {{regForm.$valid}}</div> -->
            <div ng-show="regError">{{regError}}</div>
            <div ng-show="regSuccess" style=
            "color: green;">Registration Successful, please <a style="color: green;
    text-decoration: underline;" href="#!/signin" >Sign In</a></div>
          </form>
          <div class="new-user text-center">
            <span>Already Registered? <a href="#!/signin">Sign in</a> </span>
          </div>
        </div>
    </div>
  </div>
</div>